 
.sidebar_parent{
    background-image: url('../../images/bg-sidebar-desktop.svg');
    height: 90vh;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: .5rem;
    margin: 1rem -5rem;
}